body {
    background-color: #000000;
}


.full-page {
    width: 100vw;
    height: 100vh;

}


button {
    top: 30%;
    left: 40%;
    width: 20%;
    height: 5%;
    position: absolute;
    z-index: 2;
    background: none;
    border-color: rgb(220, 47, 47);
    border-width: 0ch;
    color: rgb(220, 47, 47);
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9vw;
}

.container-fluid {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    color: rgb(94, 45, 175);
    margin-left: 0%;
    margin-right: 0;
}

.container-fluid p {
    margin-top: 0.015cm;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;

    font-size: clamp(10px, 1vw, 16px);
}

.container-fluid span {
    color: rgb(220, 47, 47);
}

.container-fluid h1 {
    color: rgb(220, 47, 47);
    font-size: clamp(14px, 3vw, 28px);
    margin-bottom: 0.75cm;
    margin-top: 1cm;
}

#notes {
    color: rgb(94, 45, 175);
    margin-top: 0.5cm;
    margin-bottom: 3cm;
    padding-top: 0%;
    padding-bottom: 0%;


    font-size: clamp(8px, 0.7vw, 16px);
}

a {
    display: inline;
    color: rgb(220, 47, 47);
    text-decoration: none !important;

}

#credits {
    color: rgb(110, 99, 128);
    font-size: clamp(10px, 1vw, 16px);
    font-weight: 100;
}

a:hover,
#credits:hover {
    color: rgb(94, 45, 175);
    transition: 250ms;
}


#linkFinal {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);

    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;

    color: rgb(220, 47, 47);
    text-decoration: none;
    position: absolute;
    z-index: 1;

    display: none;
}

#linkFinal:hover {
    color: rgb(94, 45, 175);
    transition: 250ms;
}